.CourseListItem {
  background: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #3f455038;
  margin-bottom: 10px;
  font-size: smaller;
  display: block;
  padding: 10px 10px 0;
  text-align: left;
  width: 100%;
  text-decoration: none;
  height: 150px;
}

.CourseListItem:hover {
  cursor: pointer;
  background-color: #f7f8f9;
  box-shadow: 0 4px 8px 0 rgba(202, 80, 255, 0.19);
}

.CourseListItem,
.CourseListItem:visited {
  color: #555;
}

.CourseListItem__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.CourseListItem__heading {
  margin: 0;
}

.CourseListItem__author {
  font-weight: bold;
  color: #CA1551;
}

.CourseListItem__date {
  display: none;
}

.CourseListItem__footer {
  padding: 10px 0;
}

.CourseListItem__comment-count {
  float: right;
  font-size: 1.3em;
}

.CourseListItem__comment-count .fa-layers-text {
  left: 50%;
  top: 44%;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}

@media screen and (min-width: 440px) {
  .CourseListItem__date {
    display: initial;
  }
}
