h1, h4 {
  font-style: lighter;
  text-align: center;
  font-family: 'Cinzel', serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

#new-course{
  text-align: left;
}

.form-section {
  display: flex;
  flex-direction: column;
}

#duration {
  width: 70px;
}

label, .other-topic-container  {
  margin-top: 30px;
  color: #444;
}

textarea {
  border: 1px solid #3f455038;
  font-size: 15px;
  box-shadow: 0 4px 7px 0 rgba(202, 80, 255, 0.19);
}

#submit-new, #reset-new {
  width: 30%
}

.button-container {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.course-duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#duration {
  margin-top: 10px;
  font-size: 16px;
  height: 19px;
}

input {
  box-shadow: 0 4px 7px 0 rgba(202, 80, 255, 0.19);
}

.select {
  background-color: #f7f8f9;
  box-shadow: 0 4px 7px 0 rgba(202, 80, 255, 0.19);
}

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  input {
    max-width: 500px;
  }
} */