.Nav {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.Nav h1 {
  margin: 0;
  font-family: 'Cinzel', serif;
}

.Nav h1 a {
  text-decoration: none;
}

.Nav a {
  color: #444;
  text-decoration: none;
}

.logo {
  display: none;
}

@media screen and (min-width: 450px) {
  .Nav {
    align-items: baseline;
  }
  .Nav h1 {
    font-size: 22pt;
  }

  .Nav__not-logged-in {
    flex-direction: row;
  }

  .Nav__not-logged-in .Hyph {
    display: initial;
  }
}


@media screen and (min-width: 768px) {
  .logo {
    display: inline;
  }
  .Nav h1 {
    font-size: 40px;
  }
}